# **Simple Substitution**

In [ ]:
from collections import deque
alphabet=deque(['a','b','c','d','e','f','g','h','i','j','k','l','m','n','o','p','q','r','s','t','u','v','w','x','y','z'])
def encrypt(plain_text, key):
  index=[]
  for i in plain_text:
    index.append(alphabet.index(i))
  alphabet.rotate(-key)
  m=""
  for i in index:
    m=m+alphabet[i]
  return m


def decryption(cipher_text, key):
  index=[]
  for i in cipher_text:
    index.append(alphabet.index(i))
  alphabet.rotate(key)
  m=""
  for i in index:
    m=m+alphabet[i]
  return m

In [ ]:
############################--------------Code For Encryption------------------########################
message="spongebobsquarepants"
key=3
cipher_text=encrypt(message,key)
cipher_text

'vsrqjherevtxduhsdqwv'

In [ ]:
############################--------------Code For decryption------------------########################
cipher_text="irxuvfruhdqgvhyhqbhduvdjr"
key=3
plain_text=decryption(cipher_text,key)
plain_text

'fourscoreandsevenyearsago'

# **Double Transposition**

In [ ]:
import numpy as np
import pandas as pd
plain_text="attackxatxdawnx"
column = 3
row = 5
val = [''] * row
for x in range (row):
    val[x] = [''] * column

iterator=0
for i in range(row):
  for j in range(column):
    val[i][j]=plain_text[iterator]
    iterator=iterator+1
val=np.array(val)
val=pd.DataFrame(val,columns=['Column 1','Column 2','Column 3'],index=['Row 1','Row 2','Row 3','Row 4','Row 5'])

val

      Column 1 Column 2 Column 3
Row 1        a        t        t
Row 2        a        c        k
Row 3        x        a        t
Row 4        x        d        a
Row 5        w        n        x

In [ ]:
row_permutation=[3,5,1,4,2]
column_permutation=[1,3,2]
val=val.reindex(columns=['Column 1','Column 3','Column 2'],index=['Row 3','Row 5','Row 1','Row 4','Row 2'])
val

      Column 1 Column 3 Column 2
Row 3        x        t        a
Row 5        w        x        n
Row 1        a        t        t
Row 4        x        a        d
Row 2        a        k        c